{
  "semi": false,
  "tabWidth": 4,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "printWidth": 120,
  "plugins": ["prettier-plugin-tailwindcss"]
}
