.view-toggle {
  display: flex;
  border: 1px solid #ebf1ff;
  border-radius: 8px;
  overflow: hidden;
}

.view-option {
  background: #ffffff;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  height: 38px;
}

.view-option:first-child {
  border-right: 1px solid #ebf1ff;
}

.view-option.selected {
  background-color: #546fd9;
}

.view-option.selected svg {
  color: #ffffff;
}

.view-option:not(.selected) svg {
  color: #5b6168;
}

.view-option:hover:not(.selected) {
  background-color: #f5f5f5;
}
