.event-status-chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 18px;
  border-radius: 14px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
}

.event-status-upcoming {
  background-color: #edffed;
  color: #18682c;
}

.event-status-finished {
  background-color: #e8e8e8;
  color: #5f5f5f;
}
