/* #root {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 2em;
} */

.read-the-docs {
  color: #888;
}

/* Sidebar transition styles */
.sidebar-transition {
  transition: transform 0.3s ease-in-out;
}

.sidebar-hidden {
  transform: translateX(-100%);
}

.sidebar-visible {
  transform: translateX(0);
}

/* Overlay for mobile sidebar */
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1029;
  display: none;
}

.sidebar-overlay.active {
  display: block;
}

/* Media queries for responsive behavior */
@media (max-width: 767.98px) {
  .mobile-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1030;
    width: 256px; /* Adjust width as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Main content shift when sidebar is open */
  .sidebar-open main {
    margin-left: 0;
  }
}

/* Desktop sidebar behavior */
@media (min-width: 768px) {
  .desktop-sidebar {
    width: 256px; /* Adjust width as needed */
    flex-shrink: 0;
  }

}

.left-align th, 
.left-align td {
  text-align: left;
}

/* Light Mode Hover */
.custom-table-hover tbody tr:hover {
  background-color: #F3F4F7 !important;
  cursor: pointer;
}

/* Dark Mode Hover — Slightly Darker */
body.dark-mode .custom-table-hover tbody tr:hover {
  background-color: #181819 !important;
}


