.line-chart-container {
  border: 1px solid;
  border-radius: 14px;
  padding: 24px;
  background-color: white;
  height: 365px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.line-chart-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  margin: 0;
}

.line-chart-wrapper {
  flex: 1;
  position: relative;
  min-height: 0;
  width: 100%;
}
